<nav>
    <ul>
        <li>
            <a href="/myapp">Home</a>
        </li>
        <li>
            <a href="/myapp/about">About</a>
        </li>
        <li>
            <a href="/myapp/projects">Projects</a>
        </li>
        <li>
            <a href="/myapp/tasks">Tasks</a>
        </li>
        <li>
            <a href="/myapp/create_task">Create Task</a>
        </li>
        <li>
            <a href="/myapp/create_project">Create Project</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}