{# Heredando base.html el cual proporciona una navegacion #}
{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<img src="{% static 'think_twice.png' %}" alt="" width="300">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi distinctio vitae ab voluptas at totam sint perferendis. Odio voluptatum maiores debitis ea reprehenderit eos aut! Odio, iusto, nostrum, saepe eum molestias qui dignissimos iste ipsam pariatur similique optio obcaecati ab inventore labore placeat atque quis molestiae quidem totam! Magni, quis.</p>

{% endblock %}